main {
  height: calc(100vh - 66px);
  position: relative;
  display: flex;
  flex-direction: column;
}

.main-container{
  display: flex;
  flex: 1 1 auto;
  border: none;
}

.login-page {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.link {
  font-weight: bold;
  text-decoration: none;
  padding-right: 5px;
}

.footer {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  color: #c2bfc7;
  font-size: 0.65em;
}
