.nav-container {
  position: fixed;
  width: 100%;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

.nav-logo-container {
  height: 40px;
  width: 230px;

}

.nav-logo {
  min-height: 66px;
  min-width: 80px;
  width: 35%;
  transform: translateY(-2%);
}

.nav-greyledger-logo {
  width: auto;
  height: 66px;
  align-items: center;
}

.nav-greyledger-logo  img {
  height: 6vw;
  max-height: 66px;
  min-height: 66px;
}

.nav-li-container {
  list-style-type: none;
  overflow: hidden;
  margin: 0px;
  display: flex;
  flex-direction: row-reverse;

}

.nav-li-container li {
  border: 1px;
  float: right;
  margin-left: 5px;
  margin-right: 10px;
  margin-bottom:3px;
}
