.nav-container {
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.nav-logo-container {
  height: 40px;
  width: 230px;
}

.nav-logo {
  height: auto;
  width: 35%;
  transform: translateY(-2%);
}

.nav-li-container {
  list-style-type: none;
  overflow: hidden;
  margin: 0px;
}

.nav-li-container li {
  border: 1px;
  float: right;
  margin-left: 5px;
  margin-right: 10px;
  margin-bottom:3px;
}
