.profile {
  margin: 0;
  padding-top: 66px;
  min-width: 100%;
  display: flex;
  flex-direction: column;
}

.profile-container {
  padding-left: 50px;
}

.profile-greyledger-logo {
  padding-top: 5px;
}

.profile-greyledger-logo img {
  display: block;
  margin-left: auto;
  margin-right:auto;
}

.profile-welcome {
  padding-bottom: 10px;
  padding-top: 20px;
}

.profile-welcome span {
  color: #9e8a99;
}

.profile-link {
  padding: 5px;
  margin-left: 20px;
}

.profile-blockchain p {
  padding: 5px;
  margin-left: 20px;
}

.profile-greyhounds li{
  padding: 5px;
  margin-left: 20px;
}
