.profile {
  margin: 0;
  height: 100vh;
  overflow: scroll;
  padding-top: 66px;
  min-width: 100%;
  background: url("../images/city_greyhound.jpg") no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  overflow: scroll;
}

.profile-container {
  padding-left: 50px;
  flex: 1 1 auto;
  background-color: rgba(255,255,255, 0.5);
}

.profile-greyledger-logo {
  padding-top: 5px;
}

.profile-greyledger-logo img {
  display: block;
  margin-left: auto;
  margin-right:auto;
}

.profile-welcome {
  padding-bottom: 10px;
  padding-top: 20px;
}

.profile-welcome span {
  color: #004225;
}

.profile-link {
  padding: 5px;
  margin-left: 20px;
}

.profile-blockchain p {
  padding: 5px;
  margin-left: 20px;
}

.profile-greyhounds li{
  padding: 5px;
  margin-left: 20px;
}
