.search {
  margin: 0;
  padding-top: 66px;
  min-width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #f8f8f8;
}

.search-container {
  padding-left: 50px;
}

.search-bar {
  width: 550px;
  height: 40px;
  border-radius: 0px;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.15);
  background: #fff;
  transition: all 0.3s ease;
  margin-bottom: 0px;
  margin-top: 20px;
  font-size: 14px;
  font-family: inherit;
  &:focus {
    outline: none;
    box-shadow: 0px 9px 20px rgba($tundora, 0.3);
  }
}

.search-etherscan {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.search-etherscan img {
  width: 273px;
  height: 80px;
}

.search-etherscan h2 {
  color: #3498db;
  margin-right: 15px;
}

.search-bar-header h2 {
  color: #1a6291;
  margin-right: 15px;
}

.search-logo {
  padding-top: 5px;
}

.search-results span {
  color: red;
}

.search-button {
  height: 50px;
  width: 130px;
  border-radius: 0px;
  border: none;
  color: #fff;
  background-color: #3498db;
  letter-spacing: 1px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: inherit;
  font-size: 14px;
}
